.task-element {
  width: 100%;
  height: 25px;

  margin-bottom: 10px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.task-element-name {
  margin-left: 10px;

  flex-grow: 1;
}

.task-element-close-button {
  display: none;

  cursor: pointer;
}

.task-element:hover {
  .task-element-close-button {
    display: block;
  }
}
